body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: red;
    color: purple;
}

p{
    color: orange;
}

ul{
    color: green;
}

.alert-perigo{
    background-color: red;
    color: gray;
}

.amarelao{
    background-color: yellow;
}

.limitador{
    max-width: 1200px;
    margin: 0px auto;
}

span{
    color: aqua;
    font-style: italic;
}
