<div class="center">
  <h1>Quero ir embora! 😅</h1>

  <img
    class="foto center"
    src="https://camo.githubusercontent.com/7b4f379dc80423218f8c75aaa5594d6a1ab6366c329268d6b92befd043beff0b/68747470733a2f2f692e70696e696d672e636f6d2f353634782f61332f35342f66322f61333534663261333731333633326631373566666133376566396137336133622e6a7067"
    width="200px"
  />

  <style>
    .center {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .foto {
      border-radius: 100%;
      border-style: solid;
      border-width: 5px;
      color: rgb(45, 226, 45);
    }
  </style>
</div>
